{% extends 'base.html' %}


{% block content %}

<style>
	body{
		background: #77A6F7;
	}
	.all_posts{
		   margin-left: 30%;
	}
	.image{
		border-radius: 25px;
		transition: border-radius 0.5s, width 1s ease, height 1s ease;
	}
	.image:hover{
		border-radius: 0px;
	}
	.image:active {
		width: 200% !important;
		height: 200% !important;
	}

	.account-img{
		display: block;
		margin:auto;
	}

	h2{	
		padding-top: 5px;
		text-align: center;
		font-size: 25px;
		color: #FFFFFF;
	}

	.submit-button{
		background: #FF4500;
  		border-color: #FF4500;
		width:300px;
		margin:auto;
		border-radius: 1.5rem;
		margin-bottom: 15px;
	}

	.card{
		max-width: 700px;
		border-radius: 0.9rem;
		margin-bottom: 30px;
	}

	.profile:hover{
		text-decoration: none;
	}
	#vote
	{
		/* width : 100%; */
	}
	#share
	{
		/* width:50% ; */
	}
	#comment
	{
		/* width:49% ; */
	}

	all_posts{
		margin-left: 30%;
	}
	.form_url{
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>

<body>
    <img class="rounded-circle account-img" src="{{user.avatar.url}}" height="150" width="150">

	<h2 class="account-heading"><b>Username: {{ user.username }}</b></h2>
	<h2 class="account-heading"><b>Email: {{ user.email }}</b></h2>
	<h2 class="account-heading"><b>Karma Points: {{ karma }}</b></h2>
	{% if request.user == user %}
		
			<a class="profile" href="{% url 'editprofile' user.username%}">
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Edit Profile</button>
			</a>
		
		
	{% endif %}
	<div class="all_posts">
	<div class="ui grid">
		<div class = "row">
			<div class = "ten wide column">
    {% for blog in blogs%}
				<div class="ui fluid card">
					<div class="content">
						<a class="item">
						    <div class="ui horizontal label">{{blog.author.username}}</div>
							<a href="{% url 'blog:detail' blog.slug %}" style="text-decoration: none">{{blog.title}}</a>
						</a>
					</div>

					{% if blog.form_url %}
					<div class="form_url">
						<a href="{{blog.form_url}}">{{blog.form_url}}</a>
					</div>
					{% endif %}
		
					<div class="content">
						{{blog.body}}
					</div>	
					<!-- <div class="ui small image">
					  <img src="https://picsum.photos/200">
					  <img src={{obj.image.url}}>
					</div> -->
					{% if blog.image %}
					<div class="ui segment">
						<img class="ui centered medium image", src={{blog.image.url}} >
					</div>
					{% endif %}
					<div class="content">
						<div class="all-buttons">
							<!-- show votes,upvote and downvote -->
							<div class="ui buttons" id="vote">
							<a href="{% url 'blog:detail' blog.slug %}" class="ui vertical animated button" tabindex="0"> 
								<div class="visible content">
									<i class="comments icon"></i>	
								</div>
								<div class="hidden content">
									Comment
								</div>
							</a>
							
							
						</div>
					</div>

				</div>
		
				{% endfor %}
		</div>
		</div>
		</div>
		</div>
	
</body>

{% endblock content %}