{% extends 'base.html' %}


{% block content %}
<style type="text/css">
	.card{
		max-width: 700px;
	}
	.container{
		padding:20px;
	}
</style>

<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<img class="card-img-top" src="{{blog_post.image.url}}">
			<div class="card-body mt-2 mb-2">
			  <h2 class="card-title">{{blog_post.title}}</h2>
			  <p class="card-text">{{blog_post.body|safe}}</p>
			  {% if blog_post.author == request.user %}
			  	<a href="#" class="btn btn-primary">Update</a>
			  {% endif %}
			</div>
			<div class="card-footer text-muted">
			  Posted on {{blog_post.date_published}} by {{blog_post.author}}
			</div>
			
			{% if visible %}
			<form class="create-comment" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<label for="id_body">Comment</label>
					<textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="Write your thoughts..." required></textarea>
				</div>

				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
			</form>
			{% endif %}

			{% for comm in comments %}
				<h5 class="card-title">{{comm.body}}</h2>
				{% if user == comm.author.username%}
					<a href="{% url 'blog:editcomment' comm.id%}">Edit</a>
				{% endif %}
				<p>upvote - {{comm.upvote}}</p>
				<p>downvote - {{comm.downvote}}</p>
				<p>Posted By {{comm.author.username}}</p>
				<p>Posted on {{comm.date_published}}</p>
			{% endfor %}
		</div>

		
	</div>
</div>

	

{% endblock content %}