{% extends 'base.html' %}


{% block content %}
<style type="text/css">

	body{
		background: #77A6F7;
	}
	.card{
		width: 700px;
		border-radius: 0.9rem;
	}
	.container{
		padding:20px;
	}
	label{
		font-size: 18px;
		margin-left: 10px;
		margin-top:10px;
	}

	.form-control{
		border-radius: 0.9rem;
	}

	
	.submit-button{
	background: #FF4500;
  	border-color: #FF4500;
	width:300px;
	margin:auto;
	margin-bottom:15px;
	}
</style>

<body>



<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<form class="create-comment" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<label for="id_body">Comment</label>
					<textarea class="form-control" rows="10" type="text" name="body" id="id_body" >{{form.initial.body}}</textarea>
				</div>

				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Edit</button>
			</form>			
		</div>

		
	</div>
</div>

</body>

	

{% endblock content %}