{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

	body{
		background: #77A6F7;
	}
	.all_posts{
		   margin-left: 30%;
	}
	.image{
		border-radius: 25px;
		transition: border-radius 0.5s, width 1s ease, height 1s ease;
	}
	.image:hover{
		border-radius: 0px;
	}
	.image:active {
		width: 200% !important;
		height: 200% !important;
	}
	#vote
	{
		/* width : 100%; */
	}
	#share
	{
		/* width:50% ; */
	}
	#comment
	{
		/* width:49% ; */
	}
	.form_url{
		width:auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.ui.vertical.animated.button{
		margin-left:20px;
		border-radius:0.9rem;
		background-color: #77A6F7;
	}

	.angle.double.up.icon{
		color:rgb(33, 253, 33);
	}

	.angle.double.down.icon{
		color:rgb(255, 0, 0);
	}

	.comments.icon{
		color:rgb(255, 255, 255);
	}

	.ui.icon.button{
		background-color: #ffffff;
	}
</style>
<script>
	// $(document).ready(function(){
	// 	var mouse_inside = 0;
	// 	$(".image").on({
	// 	mouseenter: function () {
	// 		// $(this).css("border-radius", "0px");
	// 		mouse_inside=1;
	// 	},
	// 	mouseleave: function () {
	// 		// $(this).css("border-radius", "25px");
	// 		// $(this).animate({"border-radius": "25px"});
	// 		mouse_inside=0;
	// 	}
	// 	});
	// 	$(".image").hover(function(){
	// 		if(mouse_inside>0)
	// 		{
	// 			$(this).animate({"border-radius": "0px"});
	// 		}
	// 	},function(){
	// 		$(this).animate({"border-radius": "25px"});
	// 	});
	// 	$(".image").click(function(){
	// 		$(this).fadeTo("fast", 0.5);
	// 		$(this).fadeTo("fast", 1);
	// 	});
	// });
	</script>

<body>
<div class="all_posts">
	<div class="ui grid">
		{% for obj in qs%}

		<div class = "row">
			<div class = "ten wide column">
				<div class="ui fluid card">
					<div class="content">
						<a class="item">
						    <div class="ui horizontal label">
								<a href="{% url 'profile' obj.post.author.username %}">{{obj.post.author.username}}</a>
							</div>
							<a href="{% url 'blog:detail' obj.post.slug %}" style="text-decoration: none">{{obj.post.title}}</a>
						</a>
					</div>
					{% if obj.post.form_url %}
					<div class="content">
						<div class="form_url">
							<a href="{{obj.post.form_url}}">{{obj.post.form_url}}</a>
						</div>
					</div>
					{% endif %}

					<div class="content">
						{{obj.post.body}}
					</div>	
					{% if obj.post.image %}
					<div class="ui segment">
						<img class="ui centered medium image", src={{obj.post.image.url}}>
					</div>
					{% endif %}
					<div class="content">
						<div class="all-buttons">
							<div class="ui buttons" id="vote">
							<!-- show votes,upvote and downvote -->
							<form action="{% url 'blog:post_like' pk=obj.post.pk option='U' %}" method="POST">
								{% csrf_token %}
								<div type="submit", name="post_id", value="{{obj.post.id}}"> 
									{% if not obj.liked %}
										<button class="ui icon button">
											<i class="angle up icon"></i>
									  	</button>
									{% elif obj.type %}
										<button class="ui icon button">
											<i class="angle double up icon"></i>
									  	</button>
									{% else %}
										<button class="ui icon button">
											<i class="angle up icon"></i>
									  	</button>
									{% endif %}
									</div>
							</form>
							<div class="ui buttons" id="vote">
								<div class="or" data-text={{obj.post.count_vote}}></div>
							</div>
							<form action="{% url 'blog:post_like' pk=obj.post.pk option='D' %}" method="POST">
								{% csrf_token %}
								<div type="submit", name="post_id", value="{{obj.post.id}}">
								{% if not obj.liked %}
									<button class="ui icon button">
										<i class="angle down icon"></i>
								  	</button>
								{% elif not obj.type %}
									<button class="ui icon button">
									<i class="angle double down icon"></i>
								  </button>
								{% else %}
									<button class="ui icon button">
										<i class="angle down icon"></i>
								  	</button>
								{% endif %}
								</div>
							</form>
							<a href="{% url 'blog:detail' obj.post.slug %}" class="ui vertical animated button" tabindex="0"> 
								<div class="visible content">
									<i class="comments icon"></i>	
								</div>
								<div style="color :white;" class="hidden content">
									Comment
								</div>
							</a>	
						</div>
					</div>
				</div>
			</div>
			<div class = "six wide column">
				
			</div>
		</div>
	</div>	
	{% endfor %}

</div>
</body>
{% endblock content %}